
/* Found it at http://article.olduse.net/771@mit-eddie.UUCP */
@font-face {
  font-family: GlassTTYVT220;
  src: local("Glass TTY VT220"), local("Glass TTY VT220 Medium"), url(/font/Glass_TTY_VT220.ttf) format("truetype");
}

body {
  font-size: 20px;
  font-family: GlassTTYVT220;
  color: #e5b800;
  background-color: #0a0600;
}

h1,h2,h3,h4 { font-size: 20px; }

img.grow { display: none; }


a { color: #ecc800; }
a:hover { color: #fcd800; }

table.news td {
    background: inherit;
    border: 0;
    vertical-align: baseline;
    padding: 0.25ex 0.5ex;
}

ol.languages {
    column-width: 12em;
    -moz-column-width: 12em;
}
