
body { background-color: #f2f2f2; }


h1,h2,h3,h4 { font-family: sans-serif; color: #303030;
	      text-shadow: rgba(0,0,0,0.25) 2px 2px 5px;
	    }
h1 { text-align: center; }
h2 { border-bottom: 2px solid #303030; clear: right; }

div.center { text-align: center; }
div.news { font-size: small; }

table { border-collapse: collapse; }

table.news td {
    background: inherit;
    border: 0;
    vertical-align: baseline;
    padding: 0.25ex 0.5ex;
}

th,td { border: 1px solid #333; }

td { background: white; }
th { background: #9df; }

h1 img { float: right; border: 0; }
h1 img.nofloat { float: none; }
