<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grammaticalframework.ui.android"
    android:versionCode="15"
    android:versionName="1.2.2"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="GFTranslator">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AlternativesActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="gf-translator"/>
            </intent-filter>
        </activity>
        <activity android:name="HelpActivity"></activity>
        <activity android:name="SemanticGraphActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchableActivity"/>
        </activity>
        
        <activity android:name="se.chalmers.phrasebook.gui.activities.NavigationActivity"></activity>

        <service android:name="TranslatorInputMethodService"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        <provider android:name=".LexiconSuggestionProvider"
                  android:authorities="org.grammaticalframework.ui.android.LexiconSuggestionProvider">
            <path-permission android:pathPrefix="/search_suggest_query"
                  android:readPermission="android.permission.GLOBAL_SEARCH"/>
        </provider>
    </application>
</manifest>
