*.class
*.la
*.o
*.lo
*.jar
*.gfo
*.pgf
dist/
src/runtime/c/.libs/
src/runtime/c/Makefile
src/runtime/c/Makefile.in
src/runtime/c/aclocal.m4
src/runtime/c/autom4te.cache/
src/runtime/c/config.h
src/runtime/c/config.h.in
src/runtime/c/config.log
src/runtime/c/config.status
src/runtime/c/configure
src/runtime/c/gu/.deps/
src/runtime/c/gu/.dirstamp
src/runtime/c/libgu.pc
src/runtime/c/libpgf.pc
src/runtime/c/libsg.pc
src/runtime/c/libtool
src/runtime/c/m4/libtool.m4
src/runtime/c/m4/ltoptions.m4
src/runtime/c/m4/ltsugar.m4
src/runtime/c/m4/ltversion.m4
src/runtime/c/m4/lt~obsolete.m4
src/runtime/c/pgf/.deps/
src/runtime/c/pgf/.dirstamp
src/runtime/c/pgf/lightning/asm.h
src/runtime/c/pgf/lightning/core.h
src/runtime/c/pgf/lightning/fp.h
src/runtime/c/pgf/lightning/funcs.h
src/runtime/c/scripts/
src/runtime/c/sg/.deps/
src/runtime/c/sg/.dirstamp
src/runtime/c/stamp-h1
src/runtime/java/.libs/
src/runtime/python/build/
src/ui/android/libs/
src/ui/android/obj/
