/** Add css rules here for your application. */

.gwt-SuggestBox {
    width: 70%;
    font-size: 150%;
    margin: 1em 0 0.5em 0;
}

.my-settingsPanel * {
    margin: 0 0.4em;
}

.my-translations {
    margin-top: 1em;
}
    
.my-translation {
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: silver;
    padding: 0.2em;
    font-size: 150%;
}
