body { margin: 5px; }
h1 { float: right; margin: 0; font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 100%; }

div.pagehead {
    font-family: sans-serif;
    /*position: fixed; top: 5px; left: 5px; right: 5px; z-index: 2;*/
    background-color: #d0d0d0;
    padding: 1px 5px;
    border-radius: 5px;
}
table.menubar td { padding: 5px; }
table.menubar dl, td.options > div > dl, dl.popupmenu {
    z-index: 1;
    display: none; position: absolute;
    background: white; color: black;
    border: 1px solid black;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}
table.menubar td:hover > dl, :hover > dl.popupmenu { display: block; }
table.menubar dt, dl.popupmenu > dt { margin: 0; padding: 5px; }
table.submenu dt { padding: 0; }
table.menubar td:hover, table.menubar dt:hover, dl.popupmenu > dt:hover {
    background-color: #36f; color: white;
}
table table dl { left: 6em; }
table.menubar dt { white-space: nowrap; }
div.document {
    /*margin-top: 7ex;*/
    clear: both;
    background: white;
    border: 2px solid #009;
    padding: 0.6ex;
}

div.document h2, div.document h3 { color: #009; }

table.segments { margin-left: auto; margin-right: auto; }
.current_segment, .segment:hover { background: #ff9; }

td.source, td.options, td.target {
    padding: 1ex;
}
td.source, td.target {
    border-bottom: 2px solid #ccc;
}
td.options > div { position: relative; margin: 0; }
td.options:hover > div > dl { display: block; }
td.options > div > dl {
    left: 0.8em;
    padding: 0.6ex;
    font-family: sans-serif;
    white-space: nowrap;
}

td.source input[name=it], td.target input[name=it], textarea, input[name=punctchars] {
    font-family: inherit; font-size: inherit;
}

td.source input[name=it], td.target input[name=it], textarea { width: 100% }

table.paralleltexts td {
    vertical-align: baseline;
    line-height: 130%;
}

div.document form { width: 100%; }

span.arrow { color: blue; }
span.error { color: red; }
span.choices { color: blue; font-weight: bold; font-family: sans-serif; }