/** Add css rules here for your application. */

.my-SuggestPanel {
    margin: 1em 0 0.5em 0;
}

.my-SuggestPanel .gwt-SuggestBox {
    width: 400px;
    font-size: 150%;
    margin: 0;
}

.my-SuggestPanel .gwt-Button {
    font-size: 150%;
    margin: 0;
    margin-left: 2px;
}

.my-SettingsPanel * {
    margin: 0 0.4em;
}

.my-LinksPanel * {
    margin: 0 0.1em;
}

.my-HeaderPanel {
    width: 100%;
    margin: 0 0.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(122,165,214);
}

.my-BrowsePanel {
    width: 100%;
    margin: 1em;
    border-width: 5px;
    border-color: rgb(122,165,214);
}

.my-BrowseFrame {
    width: 100%;
    height: 100%;
    margin: 1em;
    border-style:none;
}

.my-translations {
    margin-top: 1em;
}

.my-translation-frame {
    width: 100%;
    margin: 0.5em;
    background: #D0E4F6;
}

.my-translation-bar {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.my-translation {
    margin: 0.2em;
    font-size: 150%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    cursor:pointer;
}

.my-typeError {
    padding: 12px;
    font-size: 150%;
    font-weight: bold;
    background: #CDFFDA;
}

.my-translation-btns {
    background: #DDDDDD;
    cursor:pointer;
}

.my-error-title {
    background: #DDDDDD;
}

.my-treeimage {
    width: 650px;
    height: 520px;
}

.my-alignmentimage {
    width: 450px;
    height: 300px;
}

.my-identifierLink:link {
    text-decoration: none;
    color: black;
}

.my-identifierLink:hover {
    text-decoration: none;
    color: black;
    background-color: silver;
}

/*
* [LANG=bg] { background-image: url("flags/bg.png"); }
* [LANG=ca] { background-image: url("flags/catalonia.png"); }
* [LANG=da] { background-image: url("flags/dk.png"); }
* [LANG=de] { background-image: url("flags/de.png"); }
* [LANG=en] { background-image: url("flags/gb.png"); }
* [LANG=fi] { background-image: url("flags/fi.png"); }
* [LANG=fr] { background-image: url("flags/fr.png"); }
* [LANG=it] { background-image: url("flags/it.png"); }
* [LANG=no] { background-image: url("flags/no.png"); }
* [LANG=ru] { background-image: url("flags/ru.png"); }
* [LANG=es] { background-image: url("flags/es.png"); }
* [LANG=sv] { background-image: url("flags/se.png"); }
*/