body.minibar {
    background: #ccc url("brushed-metal.png");
}

h1, h2, h3, small, th { font-family: sans-serif; }
h1, h2, h3 { color: #303030; text-shadow: rgba(0,0,0,0.25) 3px 3px 5px; }

h1:first-child, h2:first-child { margin-top: 0; margin-bottom: 1ex; }

th, td { vertical-align: baseline; text-align: left; }

div.menubar { font-family: sans-serif; font-size: small; }

div#surface {
    min-height: 3ex;
    margin: 5px;
    padding: 5px;
    border: 3px dashed #e0e0e0;
}

div#words {
    min-height: 3ex;
    margin: 5px;
    padding: 6px;
    border: 3px solid #e0e0e0;
}

div.word, span.word, div#words div, div#words input[type=button], div#surface input[type=button] {
    display: inline-block;
    font-family: sans-serif;
    font-size: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
div#surface span.editable, div#surface input[type=button] {
    color: blue;
    border-color: blue;
    box-shadow: 2px 2px 4px rgba(0,0,255,0.5);
    cursor: pointer;
}


.invalid { color: red; }

div.modtime { float: right; }
.modtime { color: #666; white-space: nowrap; }

ul.space>li { margin-top: 0.75ex; }

div#saldospel input[type=button] { font-size: 100%; }

div#saldospel input.correct { color: green; }
div#saldospel input.incorrect { color: red; }

#surface input[type=text] { width: 5em; }

.feedback textarea { width: 95%; }

span.field { background-color: #eee; }

pre.feedbacklist { background: white }

img.button { padding: 1px; }

div.brackets {
    margin: 5px;
}

span.brackets {
    background: #ddd;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 0;
    /*border: 1px solid black;*/
    padding: 2px 3px;
}

div.brackets .token {
  padding: 0 0.5ex;
}

div.browse, table.browse td {
    background: white;
    padding: 2px;
}
