#!/usr/bin/make -f

%: 
	+dh $@

override_dh_auto_build:
	cabal build

override_dh_auto_clean:
	rm -fr dist/build

override_dh_auto_configure:
	cabal update
	cabal install --only-dependencies
	cabal configure --prefix=/usr -fserver

override_dh_auto_install:
	cabal copy --destdir=$(CURDIR)/debian/gf

override_dh_auto_test:
ifneq (nocheck,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	true
#	cabal test
endif
