body {
  background: url("brushed-metal.png");
}

.my-WordsPanel {
  float: left;
  padding: 0;
}

.my-WordsPanel-selected {
  background-color: rgb(147,194,241);
}

.my-WordsPanel-focused {
  background-color: rgb(147,194,241);
  border: 1px solid #666;
}

.my-WordLabel {
  padding: 2px;
}

.my-TextEdit {
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  padding: none;
  margin: none;
}

.my-ChoiceListBox {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.my-EditorPanel {
  border: 1px solid #666;
  background-color: #eee;
}

.my-AbstractTree {
  width: 100%;
  height: 100%;
}

.my-AbstractTree .gwt-TreeItem {
  cursor: hand;
  cursor: pointer;

  padding: 0 10px;
}

.my-AbstractTree .gwt-TreeItem-selected {
  background-color: #ffc;
}

.my-CommandsMenu {
  margin: 0 auto;
  width: 100%;
  font-size: 80%;
  background-color: #eee;
}

.my-CommandsMenu .gwt-MenuItem {
  cursor: hand;
  cursor: pointer;

  padding: 0 10px;
}

.my-CommandsMenu .gwt-MenuItem-selected {
  background-color:   #ffc;
}

.my-Magnet {
  float: left;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.3em;
  color: black;
  background-color: white;
}

.my-Magnet {
  float: left;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.3em;
  color: black;
  background-color: white;
}

.my-FridgeBagPopup {
  padding: 0.2em;
  width: 500px;
}
