body {
  background: url("brushed-metal.png");
}

.my-FridgeTextPanel, .my-FridgeBagPanel, .my-translations, .my-SettingsPanel {
  margin: 1em;
}

.my-FridgeTextPanel, .my-FridgeBagPanel {
  min-height: 2.4em;
  padding: 0.2em;
  overflow: auto;
}

.my-FridgeTextPanel {
  font-size: 150%;
  border: 3px dashed #dddddd;
}

.my-FridgeTextPanel-engage {
  border-color: #666666;
  background-color: #dddddd;
}

.my-FridgeBagPanel {
  border: 3px solid #dddddd;
}

.my-Magnet {
  float: left;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.3em;
  color: black;
  background-color: white;
}

.my-translations {
  min-height: 2.4em;
  padding: 0.2em;
  border: 3px solid silver;
}
    
.my-translation {
    margin: 0.2em;    
}

.my-SettingsPanel * {
  margin: 0.2em;
}