body {
  background: url("brushed-metal.png");
}

.my-FridgeApp {
  
}

.my-FridgeTextPanel {
  padding: 0.2em;
  width: 100%;
  border: 3px dashed #dddddd;
}

.my-FridgeTextPanel .magnets {
  width: 100%;
}

.my-FridgeTextPanel .buttons {
  width: 100%;
}

.my-FridgeTextPanel .buttons button {
  width: 100%;
}

.my-FridgeTextPanel-engage {
  border-color: #666666;
  background-color: #dddddd;
}

.my-FridgeBagPanel {
  padding: 0.2em;
  border: 3px solid #dddddd;
}

.my-PrefixPanel {
  margin-bottom: 1em;
}

.my-FridgeTextPanel .my-Magnet {
  font-size: 150%;
}

.my-Magnet {
  float: left;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.3em;
  color: black;
  background-color: white;
}

.my-TranslationsPanel {
  padding: 0.2em;
  border: 3px solid #dddddd;
  width: 100%;
}

.my-TranslationsPanel-empty {
  visibility: hidden; 
}
    
.my-translation {
    margin: 0.2em;    
}

.my-SettingsPanel {
  width: 100%;
  padding: 0.5em 0; 
  border-top: 1px solid #dddddd;
}

.my-SettingsPanel .my-FormWidget {
  margin: 0.2em;
}