.my-TextPanel, .my-BagPanel, .my-translations, .my-SettingsPanel {
  margin: 1em;
}

.my-TextPanel {
  font-size: 150%;
  min-height: 2em;
  border: 3px dashed silver;
  overflow: auto;
}

.my-BagPanel {
  border: 1px solid silver;
  overflow: auto;
}

.my-Magnet, .my-UsedMagnet {
  float: left;
  margin: 0.3em;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: black;
  padding: 0.3em;
  color: black;
  background-color: white;
}

.my-Magnet a, .my-UsedMagnet a {
  color: black;
  text-decoration: none;
}

.my-translations {
  border: 1px solid silver;
}
    
.my-translation {
    margin: 0.2em;    
}

.my-SettingsPanel {
}