body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	background-color: white;
}

#wrapper {
	width:740px;
	height:520px;
	margin:auto 50px;
	border:1px solid gray;
	padding:10px;

}

#absFrame {
 	width:250px;
 	height:250px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	white-space: nowrap;
}

#conFrame {
	width:436px;
	height:250px;
	margin-left:10px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	white-space: normal;
   	overflow:auto;
}

#actFrame {
	width:250px;
	height:170px;
	margin-top:10px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	overflow:auto;
}

#refFrame {
	width:436px;
	height:170px;
	margin-left:10px;
	margin-top:10px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	overflow:auto;
}

#messageFrame {
	width:506px;
	height:15px;
	margin-top:10px;
	margin-right:10px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	overflow:hidden;
}

#clipboardFrame {
	width:180px;
	height:15px;
	margin-top:10px;
	padding:10px;
	border:1px solid gray;
   	float:left;
   	overflow:auto;
}

#tree {
	left: -10px;
	top: -10px;	
	margin: 0px;
	padding: 10px;
	overflow: auto;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 20px;
	padding: 0px;
}

li {
	position: relative;
}

img.tree-menu {
	margin-right: 5px;
}

a.tree:link, a.tree:visited, a.tree:active {
	color: black;
	background-color: white;
	text-decoration: none;
	margin-right:10px;
}

a.tree:hover {
	color: blue;
	background-color: white;
	text-decoration: underline;
	margin-right:10px;
}

a.treeSelected:link, a.treeSelected:visited, a.treeSelected:active {
	color: white;
	background-color: #3366CC;
	text-decoration: none;
	margin-right:10px;
}

a.treeSelected:hover {
	color: white;
	background-color: #3366CC;
	text-decoration: underline;
	margin-right:10px;
}

a.treeGray:link, a.treeGray:visited, a.treeGray:active {
	color: silver;
	background-color: white;
	text-decoration: none;
	margin-right:10px;
}

a.treeGray:hover {
	color: silver;
	background-color: white;
	text-decoration: none;
	margin-right:10px;
}

table.action, table.refinement, table.wrapper, table.tree, table.language {
	margin: 0px;
	padding: 0px;
	border-style: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.selected {
	color: white;
	background-color: #3366CC;
}

tr.unavailable, tr.closed {
	color: silver;
	background-color: white;
}

tr.unavailable:hover {
	color: silver;
	background-color: #3366CC;
}

tr.action, tr.refinement, tr.wrapper, tr.tree {
	color: black;
	background-color: white;
}

tr.action:hover, tr.refinement:hover, tr.wrapper:hover, tr.tree:hover {
	color: white;
	background-color: #3366CC;
}

td.action {
	width: 220px;
	margin: 0px;
	padding: 0px;
}

td.refinement, td.wrapper, td.tree {
	width: 515px;
	margin: 0px;
	padding: 0px;
}

td.hotKey {
	width: 30px;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

td.language {
	color: black;
	background-color: white;
	margin: 1px;
	padding: 1px;
}

td.language:hover {
	color: blue;
	background-color: white;
	text-decoration: underline;
	margin: 1px;
	padding: 1px;
}

td.selected {
	color: white;
	background-color: #3366CC;
	margin: 1px;
	padding: 1px;
}

td.selected:hover {
	color: white;
	background-color: #3366CC;
	text-decoration: underline;
	margin: 1px;
	padding: 1px;
}
	
p {
	margin-bottom: 40px;
}

span.normal {
	color: black;
	background-color: white;
	text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

span.edit {
	color: black;
	background-color: white;
	text-decoration: none;
    border:2px inset;
    padding-left: 2px;
    padding-right: 2px;
}

span.selected {
	color: white;
	background-color: #3366CC;
	text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}
